<div id="form">
    <h2>Signup</h2>
    <form action="/sign-up" method="POST">
    <label for="">
        Email
        <input type="email" name="email" placeholder="example@example.com">
    </label>
    <label for="">
        Password
        <input type="password" name="password" placeholder="**********">
    </label>
    <button type="submit">Sign Up</button>
    {{!-- Error message --}}
    </form>
</div>

{{!-- <h1>{{userInSession.email}}</h1> --}}