<div id="form" style="background-image: url('https://res.cloudinary.com/dl4tnpmqr/image/upload/v1675525382/festival-wizard/cdqqeprozbnvusmra06v.jpg'); background-repeat: no-repeat"; class="picture-box">
    <h2 style="color: #7843E6"><b>Signup</b></h2>
    <form action="/sign-up" method="POST">
    <label for="">
        Email
        <input type="email" name="email" placeholder="example@example.com">
    </label>
    <label for="">
        Password
        <input type="password" name="password" placeholder="**********">
    </label>
    <button type="submit" class="purple-button">Sign Up</button>
    {{!-- Error message --}}
    </form>
</div>

{{!-- <h1>{{userInSession.email}}</h1> --}}