<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>

{{#if userInfo.isAdmin}}
  <div class="btn-group">
    <div><a href="/festivals/create">Create a Festival</a></div>
  </div>
{{/if}}


<div><a href="/festivals/list">Browse all Festivals</a></div>