<h1 style="color: #7843E6"><b>{{appTitle}} 🚀</b></h1>
<h4>Welcome!</h4><br><br>

<ul>
    <button onclick="window.location.href=`/festivals/list`;" class="purple-button"><b>Browse all Festivals</b></button>
</ul>
