
body {
    padding: 10px 50px 50px 50px;
    font-size: 14px ;
    font-family: "Roboto Mono", Helvetica, Arial, sans-serif;
    background: ivory;

}

.search-container{
    margin: 50px 0px 50px 0px;
    text-align:center;
    display: flex;
    justify-content: space-around;
    /* flex-direction: column;     */
    align-items: center;
}
.search-button {
    width: 20%;
}
.search-fields{
    display: flex;
    justify-content: space-around;
    width: 75%;
}
#container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* height: 800px; */
    width: 100%;
    align-items: center;
  }

  #container > div {
    margin: 100px 100px 50px 10px;
    width: 25%;
    height: 20%;
  }

  #single-container{
    width: 100%;
    margin: 0 0 0 200px;
    padding: 5px 5px 0 0;
    align-items: center;
  }

  #festival-info{
    margin: 0 0 0 100px;
    text-align:left;
}
    
a {
    color: #00b7ff;
}
    
h1 {
    color: 15px;
}
    
.error {
    background: #FC02FE;
    box-sizing: border-box;
    color: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
    font-weight: bold;
}
    
.warning {
    background: #5183EF;
    box-sizing: border-box;
    color: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
    font-weight: bold;
}

.selectWarning{
    background: #5183EF;
    box-sizing: border-box;
    color: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    font-weight: bold;  
}
    
.festival-header{
    color: #7843E6;
    margin: 25px
}
    
#festival-navbar {
    padding: 1em;
    float: right;
}
    
.logo{
    width: 125px;
    display: flex;
    justify-content: flex-start;
}

.navbar{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.logo-navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}
.profile-button{
    color: #00b7ff;
}

.festival-box{
    padding: 50px;
    margin: 50px 100px;
    width:800px;
    background-color: black;
    color:white
}

.picture-box{
    background-size: 1000px 1000px;
    margin: 100px;
    padding: 50px;
    width:1000px;
    background-repeat: "no-repeat";
    color: white;
}

.festival-list{
    padding:0 0 10px 50px;
}

.single-festival{
}

.festival-text{
    line-height: 2px;
    text-align:left;
}

.purple-button{
    background-color: #7843E6; 
    color: white;
    padding: 5px 10px;
    margin-right: 20px;
    border-radius: 15px 15px 15px;
}

.purple-button:hover {
    background-color:white;
    color: #7843E6;
    transition: 0.5s;
}

.wide-purple-button{
    background-color: lightgray; 
    border: transparent;
    color: white;
    width: 80%;
    height: 80%;
    padding: 5px 5px 0 0;
    border-radius: 15px 15px 15px;
}

.wide-purple-button:hover {
    background-color: #00b7ff;
    color: white;
    transition: 0.5s;
}

.blue-button{
    background-color: ivory ; 
    color: #00b7ff;  
    padding: 10px 10px;
    border: transparent;
    text-decoration: underline;
    /* border-radius: 15px 15px 15px; */
}

.cyan-button{
    background-color: #00FFFF ; 
    color: white;  
    padding: 5px 10px;
    border-radius: 15px 15px 15px;
}


.message{
    text-align:center;  
    color: black;
    padding-top: 100px
}

.mandatory{
    background-color: lightgray
}


.login-signup{
    background-size: 1000px 1000px;
    padding: 50px;
    background-repeat: "no-repeat";
    color: white;
    margin: auto;
    width: 50%;
}


.image{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.home-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* height: 800px;
    width: 1400px; */
    align-items: center;
    margin-bottom: 50px;

  }

/* .home-list{
    padding:0 0 10px 50px;
    text-align:center;
} */

.home-single-festival{
    padding: 5px;
    width: 30%;
    height: 400px;
    text-align: center;
    display: flex;
    margin: 10px 20px 10px 20px;
    flex-direction: column;
    align-content: space-around;

}
.home-festival-image{
    width: 100%;
    height: 60%;
}
.home-festival-image img{
    width: 100%;
    height: 100%;
}

.home-festival-text{
    height: 20%;
    line-height: 2px;
    text-align:left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
}

.detail-button{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popular-festivals{
    margin: 30px 20px 30px 10px;
}

.popular-festivals h3 {
    font-weight: 800;
}
.all-festivals{
    margin: 30px 20px 30px 10px;
}

.all-festivals h3 {
    font-weight: 800;
}

.recently-added{
    margin: 10px 20px 20px 10px;

}

.recently-added h3 {
    font-weight: 800;
}

/* .festival-image{
    width: 100%;
    height: auto;
} */
.index{
    margin-top: 5px;

}
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("https://res.cloudinary.com/dl4tnpmqr/image/upload/v1675875924/festival-wizard/ewpmy4lacfcfdajjvqbq.png") no-repeat center center;
    /* background-image: url("https://res.cloudinary.com/dl4tnpmqr/image/upload/v1675875924/festival-wizard/ewpmy4lacfcfdajjvqbq.png"); */
    width: 100%;
    height: 400px;
    margin-bottom: 50px;

}
.overlay{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 80%;
    background-image: linear-gradient(to bottom right, rgba(32,32,32,0.7), rgba(32,32,32,0.5));
    padding: 20px;
}
.hero-text{
    color: white;
    font-family: "Gravitas One";
    width: 50%;
    padding: 10px;
   text-align: center;
}

.hero-text span {
    color: #7843E6;
}
.home-button-group{
    display: flex;
    width: 70%;

}
.home-cta {
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 50%;
}

.cta-button{
    background-color: #7843E6; 
    border-color: transparent;
    color: white;
    font-weight: 400;
    font-size: 18px;
    padding: 5px 10px;
    margin-right: 20px;
    border-radius: 15px 15px 15px;
    width: 60%;
    text-align: center;
}

.cta-button:hover {
    background-color:white;
    color: #7843E6;
    transition: 0.5s;
}

.profile-title{
    font-family: "Gravitas One";
    color: #00b7ff;
    text-align: right;
}

.form-required{
    color: #FC02FE;
}

.festival-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("https://res.cloudinary.com/dl4tnpmqr/image/upload/v1675875924/festival-wizard/ewpmy4lacfcfdajjvqbq.png") no-repeat center center;
    /* background-image: url("https://res.cloudinary.com/dl4tnpmqr/image/upload/v1675875924/festival-wizard/ewpmy4lacfcfdajjvqbq.png"); */
    width: 100%;
    height: 400px;
    margin-bottom: 20px;

}
.festival-overlay{
    display: flex;
    align-items:baseline;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    height: 80%;
    background-image: linear-gradient(to bottom right, rgba(240,240,240,0.9), rgba(240,240,240,0.7));
    padding: 20px;
}
.festival-hero-text{
    color: #7843E6;
    font-family: "Gravitas One";
    width: 50%;
    padding: 10px;
    text-align: left;
}
.festival-hero-text h1 {
    /* font-size: 96px; */
    font-weight: 900;
}

.festival-hero-text h4 {
    color: black;
}

.sub-festival-hero{
    display: flex;
    flex-direction: column;
}
.festival-info-group{
    display: flex;
    margin-top: 20px;
}
.info-right{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    background-color: beige;
    margin: 10px;
}
.info-left{
    width: 50%;
    padding: 20px;
    margin: 10px;
    background-color: beige;
}
.festival-button-group{
    display: flex;
    width: 50%;
    align-self: flex-end;
    justify-content: flex-end;
}
.festival-cta {
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    /* width: 50%; */
}

.festival-button{
    background-color: #7843E6; 
    color: white;
    font-weight: 400;
    /* font-size: 12px; */
    padding: 5px 10px;
    margin-right: 20px;
    border-radius: 15px 15px 15px;
    /* width: 60%; */
    text-align: center;
}

.delete-button{
    background-color: #FC02FE; 
    color: white;
    font-weight: 400;
    /* font-size: 12px; */
    padding: 5px 10px;
    margin-right: 20px;
    border-radius: 15px 15px 15px;
    /* width: 60%; */
    text-align: center;
}

.festival-button:hover {
    background-color:white;
    color: #7843E6;
    transition: 0.5s;
}
.delete-button:hover {
    background-color:white;
    color: #FC02FE;
    transition: 0.5s;
}

.icon-container {
    display: flex;
    margin: 5px;
    align-items: baseline;
}
.icon-container img{
    width: 20px;
    height: auto;
    margin-right: 5px;
}

.form-inside {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.login-signup{
    display: flex;
    flex-direction: column;
    align-items: center; 
   width: 70%;
}
.login-button{
    background-color: #7843E6; 
    color: white;
    padding: 5px 10px;
    margin-right: 20px;
    border-radius: 15px 15px 15px;
    width: 50%;
}

.login-button:hover {
    background-color:white;
    color: #7843E6;
    transition: 0.5s;
}
.form-button{
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 20px;
}