
body {
    padding: 50px;
    font-size: 14px ;
    font-family: "Roboto Mono", Helvetica, Arial, sans-serif;
    background: ivory;

}

#container{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    height: 800px;
    width: 1400px;
    align-items: center;
  }

  #container > div {
    margin: 50px 100px 250px 10px;
    width: 25%;
    height: 20%;
  }
    
a {
    color: #00b7ff;
}
    
h1 {
    color: 15px;
}
    
.error {
    background: #FC02FE;
    box-sizing: border-box;
    color: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
    font-weight: bold;
}
    
.warning {
    background: #5183EF;
    box-sizing: border-box;
    color: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
    font-weight: bold;
}
    
.festival-header{
    color: #7843E6 
}
    
#festival-navbar {
    padding: 1em;
    float: right;
}
    
.logo{
    width: 100px
}

.all-festivals{
    background-image: url("./images/festival-wizard.png");
}

.festival-box{
    padding: 50px;
    margin: 50px 100px;
    width:800px;
    background-color: black;
    color:white
}

.picture-box{
    background-size: 1000px 1000px;
    margin: 100px;
    padding: 50px;
    width:1000px;
    background-repeat: "no-repeat";
    color: white
}

.festival-list{
    padding:0 0 10px 50px;
    text-align:center;
}

.single-festival{
     /* padding: 50px 0 200px 0;  */
}

.festival-text{
    line-height: 2px;
    text-align:left;
}

.purple-button{
    background-color: #7843E6; 
    color: white;
    padding: 5px 10px;
    margin-right: 20px;
    border-radius: 15px 15px 15px;
}

.wide-purple-button{
    background-color: #7843E6; 
    color: white;
    width: 80%;
    padding: 5px 5px 0 0;
    border-radius: 15px 15px 15px;
}

.blue-button{
    background-color: #5183EF  ; 
    color: white;  
    padding: 10px 10px;
    border-radius: 15px 15px 15px;
}

.cyan-button{
    background-color: #00FFFF ; 
    color: white;  
    padding: 5px 10px;
    border-radius: 15px 15px 15px;
}

.search{
    text-align:center;  
}

.message{
    text-align:center;  
    color: #FC02FE ;
    padding-top: 100px
}

.mandatory{
    background-color: lightgray
}

.home-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* height: 800px;
    width: 1400px; */
    align-items: center;
    margin-bottom: 50px;
  }

/* .home-list{
    padding:0 0 10px 50px;
    text-align:center;
} */

.home-single-festival{
    padding: 5px;
    width: 30%;
    height: 400px;
    text-align: center;
    display: flex;
    margin: 10px 20px 10px 20px;
    flex-direction: column;
    align-content: space-around;

}
.home-festival-image{
    width: 100%;
    height: 60%;
}
.home-festival-image img{
    width: 100%;
    height: 100%;
}

.home-festival-text{
    height: 20%;
    line-height: 2px;
    text-align:left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
}

.detail-button{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popular-festivals{
    margin: 30px 20px 30px 10px;
}

.popular-festivals h3 {
    font-weight: 800;
}

.recently-added{
    margin: 10px 20px 20px 10px;

}

.recently-added h3 {
    font-weight: 800;
}

/* .festival-image{
    width: 100%;
    height: auto;
} */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("https://res.cloudinary.com/dl4tnpmqr/image/upload/v1675875924/festival-wizard/ewpmy4lacfcfdajjvqbq.png") no-repeat center center fixed;
    /* background-image: url("https://res.cloudinary.com/dl4tnpmqr/image/upload/v1675875924/festival-wizard/ewpmy4lacfcfdajjvqbq.png"); */
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
}
.overlay{
    display: flex;
    align-items: center;
    width: 90%;
    height: 80%;
    background-image: linear-gradient(to bottom right, rgba(32,32,32,0.7), rgba(32,32,32,0.5));
    padding: 20px;
}
.hero-text{
    color: white;
    font-family: "Gravitas One";
    width: 50%;
    padding: 20px;
}

.hero-text span {
    color: #7843E6;
}
.home-cta {
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.cta-button{
    background-color: #7843E6; 
    color: white;
    font-weight: 400;
    font-size: 22px;
    padding: 5px 10px;
    margin-right: 20px;
    border-radius: 15px 15px 15px;
    width: 40%;
    text-align: center;
}

.profile-title{
    font-family: "Gravitas One";
    color: #00b7ff;
    text-align: right;
}
.form-required{
    color: #FC02FE;
}