
body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 800px;
    width: 1400px;
    align-items: center;
  }

  #container > div {
    background-color: #f1f1f1;
    margin: 10px 10px 50px 10px;
    width: 25%;
    height: 20%;
  
  }
    
a {
    color: #00b7ff;
}
    
h1 {
    color: 15px;
}
    
.error {
    background: #f02b63;
    box-sizing: border-box;
    color: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
}
    
.warning {
    background: #43a3e6;
    box-sizing: border-box;
    color: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
}
    
.festival-header{
    color: #7843E6 
}
    
#festival-navbar {
    padding: 1em;
    float: right;
}
    
.logo{
    width: 100px
}

.all-festivals{
    background-image: url("./images/festival-wizard.png");
}

.festival-box{
    padding: 50px;
    margin: 50px 100px;
    border: solid;
    border-color: purple;
    border-image-width: 10px;
    width:800px;
    background-color: black;
    color:white
}

.picture-box{
    background-size: 1000px 1000px;
    margin: 100px;
    padding: 50px;
    border: solid;
    border-color: yellow;
    border-image-width: 10px;
    width:1000px;
    background-repeat: "no-repeat";
    color: white
}

.festival-list{
    padding:0 0 10px 10px;
    border: solid;
    border-color: blue;
}

.single-festival{
    padding:0 0 10px 10px;
    border: solid;
    border-color: red
}