<div class="container">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">

                <h1>New Festival</h1>

                <hr>

                <form action="/Festivals/create" method="POST">
                    <label>
                        <b>Name:</b> <input type="text" name="name" placeholder="Festival name">
                    </label><br><br>

                    <label>
                        <b>Image:</b> <input type="text" name="image" placeholder="Add a link to a file">
                    </label><br><br>

                    <label>
                        <b>Start Date:</b> <input type="date" name="startDate" placeholder="Start Date">
                    </label>

                    <label>
                        <b>End Date:</b> <input type="date" name="endDate" placeholder="End Date (if this is empty, Start Date is used)">
                    </label><br><br>

                    <label>
                        <b>Artists:</b> <input type="text" name="artists" placeholder="Artists performing">
                    </label><br><br>

                    <label>
                        <b>Country:</b> <input type="text" name="country" placeholder="Country">
                    </label>  <br><br>  

                    <label>
                        <b>City:</b> <input type="text" name="city" placeholder="City">
                    </label><br><br>

                    <label>
                        <b>Address:</b> <input type="text" name="address" placeholder="Address">
                    </label><br><br>

                    <label>
                        <b>Currency:</b> <input type="text" name="Currency" placeholder="Currency">
                    </label><br><br>

                    <label>
                        <b>Min Price:</b> <input type="number" name="minPrice" placeholder="Minimum Price">
                    </label>

                    <label>
                        <b>Max Price:</b> <input type="number" name="maxPrice" placeholder="Maximum Price">
                    </label><br><br>

                    <label>
                        <b>Website:</b> <input type="url" name="website" placeholder="Add a link to a URL">
                    </label><br><br>

                    <label>
                        <b>Key fact:</b> <input type="text" name="mustKnow" placeholder="Add one key fact about the festival">
                    </label><br><br>

                    <label>
                        <b>Genre:</b> <input type="text" name="grnre" placeholder="Music genre(s)">
                    </label><br><br>

                                       

                    <input type="submit" value="Create Festival" class="btn-dark btn">
                </form>

            </div>
        </div>
    </div>

</div>